body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.hero-unit {
	background: url('../img/bg-fabric.png') repeat;
	text-align: center;
	border-radius: 0;
	border-bottom: 1px solid rgb(238, 238, 238);
}
